<div class="meal max-w-xs rounded overflow-hidden shadow-lg bg-gray-200">
  <div class="meal-img">
    <img src="{{image}}" alt="{{name}}" class="w-full object-cover h-auto max-w-xs max-h-48">
  </div>
  <div class="meal-info px-6 py-4">
    <h1 class="font-bold text-xl mb-2">{{name}}</h1>
    <p><span class="font-semibold">Type: </span>{{type}}</p>
    <p><span class="font-semibold">Weight: </span>{{weight}}gr</p>
    <p class="price"><span class="font-semibold">Price: </span>${{price}}</p>
  </div>
  <a href="/details/{{_id}}" class="btn-details bg-blue-500 text-white font-bold py-2 px-4 rounded-full inline-block mt-2 mx-6 mb-4">Details</a>
 
</div>
