

    <main id="menu">
            <h1>Menu</h1>
                    <button href="/fullmenu" class="btn-menu">View All</button>
    
        <section class="menu">

           
                            <div class="meal">
                    <div class="meal-img">
                        <img
                            src="/images/gallary-6.jpg">
                    </div>
                    <div class="meal-info">
                        <h1>CEzar</h1>
                        <p><span>Type: </span>{{type}}Salads</p>
                        <p><span>Weigth: </span>{{Weigth}}</p>
                        <p class="price"><span >Price: </span>$13</p>
                    </div>
                    <a href="/details/{{_id}}" class="btn-details">Details</a>
                </div> 

                      <div class="meal">
                    <div class="meal-img">
                        <img
                            src="/images/gallary-6.jpg">
                    </div>
                    <div class="meal-info">
                        <h1>CEzar</h1>
                        <p><span>Type: </span>{{type}}Salads</p>
                        <p><span>Weigth: </span>{{Weigth}}</p>
                        <p class="price"><span >Price: </span>$13</p>
                    </div>
                    <a href="/details/{{_id}}" class="btn-details">Details</a>
                </div> 

                  
              
            {{!-- {{#if games}}
            <div class="offer-list">
                {{#each games}}
            {{>game}}
            {{/each}}
            </div>
            {{else}}
             <div class="no-offer">
                <p>There are no meals offers today,sorry.</p>
            </div> 
            {{/if}} --}}

        </section>
    </main>
