  
  
  <body class="home-custom-image bg-cover bg-center overflow-y-auto min-h-screen" id="profile">
  <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-md p-8 mt-8">

    <!-- Profile Information -->
    <div class="flex items-center mb-6">
        <!-- Profile Image -->
        <div class="rounded-full overflow-hidden mr-6">
            {{#if profileImage}}
            <img src="{{profileImage}}" alt="Profile Image" class="w-20 h-20">
            {{else}}
            <img src="/images/profileImg.png" alt="Profile Image" class="w-20 h-20">
            
            {{/if}}
        </div>
        <!-- Profile Info -->
        <div>
            <h2 class="text-xl font-bold mb-1">{{ userUsername }}</h2>
            <p class="text-gray-600">{{ userEmail }}</p>
        </div>
    </div>

    <div>
        <h3 class="text-lg font-semibold mb-4">Reservations</h3>
        {{#if reservations}}
<div id="reservationsContainer" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
    {{#each reservations}}
        {{> order}}
    {{/each}}
</div>
{{else}}

<h1>No reservations yet.</h1>
{{/if}}

</div>



    </body>
