<body id="details" class="details-custom-image bg-cover bg-center overflow-y-auto min-h-screen">
    <div class="flex items-center justify-center mt-5">
        <div class="meal-card bg-white rounded-lg shadow-md flex items-center justify-center p-8">
            <div class="meal-image mr-8">
                <img src="{{mealReview.image}}" alt="{{mealReview.name}}" class="w-64 h-auto">
            </div>

            <div class="meal-info flex flex-col justify-between">
                <div class="meal-text mb-8">
                    <h1 id="name" class="text-3xl font-bold mb-2">{{mealReview.name}}</h1>
                    <h3 id="platform" class="text-xl mb-2">Type: {{mealReview.type}}</h3>
                    <p id="price" class="text-lg mb-2"><span class="font-semibold">Price: ${{mealReview.price}}</span></p>
                    <p id="genre" class="text-lg mb-2"><span class="font-semibold">Weight: {{mealReview.weight}}gr</span></p>
                    <div class="description overflow-hidden">
                        <p id="description" class="text-lg mb-2"><span class="font-semibold">Description:</span> {{mealReview.description}}</p>
                    </div>
                    <p id="orders" class="text-lg mb-2"><span class="font-semibold">Orders of this meal:</span> {{mealReview.orderList.length}}</p>
                </div>

                <div class="product-btn">
                    {{#if isAuthenticated}}
                        {{#if isOwner}}
                            <div class="author">
                                <a href="/edit/{{mealReview._id}}" class="btn-edit bg-blue-500 text-white font-bold py-2 px-4 rounded-full mr-4">Edit</a>
                                <a href="/delete/{{mealReview._id}}" class="btn-delete bg-red-500 text-white font-bold py-2 px-4 rounded-full">Delete</a>
                            </div>
                        {{else}}
                            {{#if isOrdered}}
                                <p class="buy-message text-lg mb-2">You have already ordered this!</p> 
                            {{else}}
                                <a href="/order/{{mealReview._id}}" class="btn-buy bg-green-500 text-white font-bold py-2 px-4 rounded-full">Order</a> 
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</body>
